# ------------------------------
# os
# ------------------------------
.DS_Store
*.bak
*.tmp

# ------------------------------
# ide
# ------------------------------
.claude/
.codex/
.cursor/
.gemini/
.history/
.idea/
.kiro/
.qwen/
.settings/
.trae/
.vscode/
*.iml
*.swo
*.swp

# ------------------------------
# build
# ------------------------------
/bin/
/build/
/dist/
/out/
/target/
*.a
*.dll
*.dylib
*.exe
*.o
*.so

# ------------------------------
# log
# ------------------------------
logs/
*.log

# ------------------------------
# go
# ------------------------------
vendor/
*.coverprofile
*.out
*.pprof
*.test

# ------------------------------
# java
# ------------------------------
*.class
*.ear
*.jar
*.war

# ------------------------------
# python
# ------------------------------
.eggs/
.venv/
__pycache__/
*.egg-info/
*.manifest
*.pyc
*.pyd
*.pyo

# ------------------------------
# project defined
# ------------------------------
